* {
  text-align: right;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  margin: 32px;
}

h2 {
  color: #BB006A;
  text-align: center;
  border: 5px solid #721330;
  cursor: pointer;
}

li {
  list-style: none;
  display: inline-block;
  color: #136F00;

}
